
.bookshelf {
    display: flex;
}
.readcontainer {
border: 5px solid gray;
margin-bottom: 5px;
font-size: 25px;
color: blue;
border: 5px solid blue;
margin-right: 5px;
}

.readbookdiv {
border: 1px solid black;
font-size: 15px;
color: black;
border: 1px solid blue;
}
.readbookimg {

}

.queuecontainer {
    border: 5px solid red;
    color: red;
    font-size: 25px;
}
.queuebookdiv {
color: black;
border: 1px solid red;
font-size: 15px;
}

.queuebookimg {

}