@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body{
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    
    
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--color2);
    background-image: url('https://images.unsplash.com/photo-1603058817990-2b9a9abbce86?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2466&q=80');
    color: antiquewhite;
    
    font-family: 'Nunito Sans', sans-serif;
    
   
    height: 100vh;
    
    
}
h1 {
   display: flex;
   justify-content: center;
}
.bookshelf {
    display: flex;
    justify-content: center;
    
    
}
.readcontainer {
    border: 5px solid gray;
    font-size: 140%;
    font-weight: 900;
    color: red;
    border: 5px solid brown;
    width: 40%;

    
    
    background-color: rgb(241,238,228, 0.50);

    
    
    }
    
.readbookdiv {
    font-size: 80%;
    color: black;
    border: 1px solid brown;
    display: flex;
    padding:10px;
}
.readbookimg {
    border-radius: 10px;
    width: 40%;
    height:100%;
}   
.queuecontainer {
    border: 5px solid brown;
    color: red;
    font-size: 140%;
    font-weight: 900;
    width: 40%;

    background-color: rgb(241,238,228, 0.50);

    margin-left: 15%;
    
}
.queuebookdiv {
    color: black;
    border: 1px solid brown;
    font-size: 80%;
    display: flex;
    padding:10px;
}
        
.queuebookimg {
       width: 40%;
       height: 100%;
       border-radius: 10px; 
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: calc(var(--footer-height));
}
    
section {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}    
.buttondivtwo {
    margin-left: 9%;
    margin-bottom: 10px;
}
.mainpagebutton {
    background-color: black;
    color: antiquewhite;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: grey;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    border: 1px solid red;
    
}

.mainpagebutton:hover{
    transform: scale(1.2);
}

.statcontainer {
    margin-left: 9%;
    font-size: 18px;
    border: 2px solid red;
    width: 30%;
    border-radius: 10px;
    padding:5px;
}

.removebutton {
    height: 30%;
    width:30%;
    background-color: rgb(241,238,228, 0.50);
    float: bottom;
    
}

/*header*/
.main-header {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    background-color: antiquewhite;
    height: fit-content;
    color: black;
}
nav {
    background-color: antiquewhite;
    border: ridge 2px black;
    text-align: center;
    font-size: 1.5rem;
}
.title-mp {
    display: flex;
    font-size: 3.5rem;
    text-align: center;
    background-color: rgba(100, 150, 250, 1);
    align-items: center;
    background-image: url(../../assets/images/mainpageBG/stackedbooks.jfif);
    color: ivory;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
.title-mp > div {
    font-size: 3.5rem;
    text-align: center;
    align-items: center;
   background-color: rgba(100, 100, 100, .5);
    color: ivory;
    width: fit-content;
    text-align: center;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
        
}
.stats-tp {
    display: flex;
    justify-content: center;
    border: ridge 2px black;

}
.buttondiv {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
}
.buttondiv > a > button {
    width: 100%;
    height: fit-content;
    font-size: auto;
    transition: ease-in-out 1000ms;
    border-radius: 5px;
    
}
 a > button:hover { 
    cursor: pointer;
    background-color: black ;
    color: antiquewhite;
    transform: scale(110%);
}

li > a {
    transition: ease-in-out 500ms;
    text-decoration: none;
    padding: 4px;

    
    
}
li > a:hover {
    background-color: black;
    color: antiquewhite;
    border-radius: 20px;
}
ul {
    list-style-type: none;
}

@keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }
