@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Nunito Sans', sans-serif;
  background: linear-gradient(to left top, #358, #101) fixed;
  height: 100vh;
  margin: 0;
}

h1{
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.carousel {
  display: block;
  margin: 0 auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.75s ease-in-out;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #CD5C5C;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}

nav *{
  float: left;
  width: 18%;
  color: antiquewhite;
  display: block;
  margin-top: 50px;
  min-width: 150px;
  width: auto !important; 
  width: 200px;
}


nav ul{
  width: 80%;
}

.one{
  margin-left: 20px;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
